# Data Science Tools and Ecosystem

In this notebook, various Data Science Tools are being discussed as an overview

These are the popular languages Data Scientists utilize:
### Data Science Languages
1. Python
2. SQL
3. RStudio

These are the libraries commonly used by Data Scientists:
### Data Science Libraries
1. TensorFlow
2. SciPy
3. NumPy
4. Pandas

| Data Science Tools |
| --- |
| Open Source Tools | Commercial Tools | Cloud Based Tools |
| --- | --- | --- |
| MySQL | Oracle | Watson Studio |
| Ceph | SQL Server | Amazon DynamoDB |
| Cassandra | IBM DB2 | Azure Machine Learning |
| CouchDB | Informatica | Cloudant |
| mongoDB | Talend | IBM Data Refinery |
| hadoop HDFS | IBM InfoSphere DataStage | IBM Watson Machine Learning |
| elasticsearch | Tableau | H20.ai |

### Below are a few examples of evaluating arithmetic expressions in Python.

To solve this expression, multiply the integers in the parenthesis and then add

In [6]:
(3*4)+5

17

This operation will covert 200 minutes to hours via dividing the minute value by 60.

In [7]:
x= 200
x/60

3.3333333333333335

**Objectives:**
- List popu